<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812585695324-rvje030t1vh8bnllog484rpftu71qul0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812585695324-rvje030t1vh8bnllog484rpftu71qul0</string>
	<key>API_KEY</key>
	<string>AIzaSyAWNljMIz0vetKxhE7OCqIKO6C_2J9nOxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>812585695324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.dan</string>
	<key>PROJECT_ID</key>
	<string>dan-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dan-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812585695324:ios:b27169c5e8d48fae45ce99</string>
</dict>
</plist>